# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ==========================================
# Node.js
# ==========================================

node_modules/
npm-debug.log*

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Logs
# ==========================================

*.log
*~